@using AplicacionUdemy.Models
@model modelList
@{
    ViewBag.Title = "RegistroEmpresa";
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registro de empresa</title>

    <!-- CSS -->
    <link href="~/Content/plugins/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style/style_logo.css" rel="stylesheet" />

    <!-- JS -->
    <script src="~/Content/plugins/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/plugins/js/bootstrap.min.js"></script>

</head>
<body>
    <br /><br /><br />
    <div class="container">
        <div class="row">
            <div class="divregistroempresa">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <span><label><b>Registrar empresa</b></label></span>
                    </div>
                </div>
                <br /><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                        <img src="~/Content/img/img_logo/TuLogo.png" alt="Avatar" width="80px" class="img-circle previsualizar" />
                        <label for="imagen" class="input-label"><i class="fa fa-cloud-upload"></i>Subir imagen</label><input type="file" name="imagen" id="imagen" />
                    </div>
                    <div class="col-md-6">
                        <span><label><b>Razón Social: </b></label></span>
                        <input type="text" class="form-control" id="txtrazonsocial" />
                    </div>

                    <div class="col-md-3">
                        <span><label><b>RUC: </b></label></span>
                        <input type="text" class="form-control" id="txtruc" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-4">
                        <span><label><b>Email: </b></label></span>
                        <input type="text" class="form-control" id="txtemail" />
                    </div>

                    <div class="col-md-2">
                        <span><label><b>Pais: </b></label></span>
                        <select class="form-control" id="slpais">
                            @foreach (var item in Model.listPais)
                            {
                            <option value="@item.idPais">@item.nombre</option>
                            }

                        </select>
                    </div>
                    <div class="col-md-2">
                        <span><label><b>Moneda: </b></label></span>
                        <select class="form-control" id="slmoneda">
                            @foreach (var item in Model.listMoneda)
                            {
                                <option value="@item.idMoneda">@item.nombre</option>
                            }
                        </select>
                        <br />
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <span><label><b>Dirección: </b></label></span>
                        <input type="text" class="form-control" id="txtdireccion" />
                        <br />
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <span><label><b>¿Vende con impuesto?</b></label></span>
                        <br />
                    </div>
                    <div class="col-md-7">
                        SI <input type="radio" id="rdsi" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        NO <input type="radio" id="rdno" />
                    </div>
                </div>

                <div class="col-md-12">
                    <br />
                    <div class="col-md-3">

                    </div>

                    <div class="col-md-2">
                        <span><label><b>Tipo Impuesto: </b></label></span>
                        <select class="form-control" id="sltipoimpuesto">
                            @foreach (var item in Model.listImpuesto)
                            {
                                <option value="@item.idImpuesto">@item.nombre</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <span><label><b>Porcentaje: </b></label></span>
                        <select class="form-control" id="slporcentaje">
                            @foreach (var item in Model.listPorcentaje)
                            {
                                <option value="@item.idPorcentaje">@item.nombre</option>
                            }
                        </select>
                        <br />
                    </div>
                </div>

                <div class="col-md-12">
                    <br />
                    <div class="col-md-3">

                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-default" id="btnsiguiente">
                            <img src="~/Content/img/imagenes/flecha-correcta.png" />
                            Siguiente
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger" id="btncancelar">Cancelar</button>
                    </div>
                </div>

            </div>

            <div class="divregistrousersuperadmin" style="display:none">
                <div class="col-md-12">
                    <br />
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <span><label><b>Nombre administrador: </b></label></span>
                        <input type="text" class="form-control" id="txtuseradmin" />
                    </div>
                </div>

                <div class="col-md-12">
                    <br />
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <span><label><b>Contraseña: </b></label></span>
                        <input type="text" class="form-control" id="txtcontrasena" />
                    </div>
                    <div class="col-md-4">
                        <span><label><b>Confirmar contraseña: </b></label></span>
                        <input type="text" class="form-control" id="txtconfirmarcontrasena" />
                    </div>
                </div>

                <div class="col-md-12">
                    <br />
                    <div class="col-md-3">

                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger" id="btnsiguiente">
                            <img src="~/Content/img/imagenes/flecha-izquierda.png" />
                            Atrás
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default" id="btncancelar">
                            <img src="~/Content/img/imagenes/salvar.png" />
                        Registrar</button>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="~/Scripts/app/registroempresa.js"></script>

